*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  line-height: 1.75;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}